* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root{
  display: flex;
  justify-content: space-around;
  background-color: lightgray;
  padding: 20px;
}

.item1{
  background-color:rgb(60, 60, 214) ;
  color:white;
  padding: 20px;
  text-align: center;
  flex-grow: 3;
  margin: 5px;
}

.item2, .item3 {
  background-color: steelblue;
  color: white;
  padding: 20px;
  text-align: center;
  flex-grow: 1; 
}