* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center; 
  background-color: lightgray;
  padding: 20px;
}

.item {
  background-color: rgb(121, 4, 68);
  color: white;
  padding: 20px;
  text-align: center;
  margin: 5px;
}