* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root{
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  background-color: lightgray;
  padding: 20px;
}

.item{
  background-color: rgb(36, 94, 221) ;
  color: white;
  padding: 20px;
  text-align: center;
  margin: 5px;
  border-radius: 8px;
}